<div class="container">
  <div class="jumbotron">
    <h1>Marcio Barbato</h1>
    <p>I am a Brazilian DevOps Engineer, whiling to help you to improve your product quality.
    This website has been created by github user bbachi and was forked into my repository.
    This is a fully automated website, implemented using CI/CD in AWS Code Pipeline. It's code is fully available into my github
    </p>
  </div>

  <accordion [isAnimated]="true">
    <accordion-group heading="Profile Information">
      <div class="row">
        <div class="col-md-6">
            Name:
        </div>
        <div class="col-md-6">
            Marcio Barbato
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Age:
        </div>
        <div class="col-md-6">
            29
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Occupation:
        </div>
        <div class="col-md-6">
            Systems Engineer at EPAM
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Professional Experience">
      <h1>EPAM Systems</h1>
      <h5>DevOps Engineer</h5>
      <p>DevOps engineer, automating software releases for third party customers, helping them evolve into a better release software cycle.
      </p>
      <h1>Sage Software</h1>
      <h5>Live Services Specialist</h5>
      <p>Responsible for the cloud products environment, monitoring the services, deploying new code, improving and implementing standard best practices for Brazilian products and helping with architecture of new services.
      </p>
      <h1>IBM</h1>
      <h5>IT Advisory Specialist</h5>
      <p>PureApplication and IBM Cloud Orchestrator Administrator.
      <h1>KMM Engenharia de Sistemas</h1>
      <h5>IT Specialist</h5>
      <p>Linux System Administrator with experience in network infrastructure, proxy, firewall, vpn, server monitor with Zabbix and Windows System Administrator with experience in domain administration and dns, also experience with VMware ESX, Oracle Database 11gR2 and HP Storage System.
      </p>
    </accordion-group>
    <accordion-group heading="Certifications">
      <p>ITIL V3 Foundation</p>
      <p>Sumologic Search Master</p>
    </accordion-group>
    <accordion-group heading="Social Network">
      <a href="https://www.linkedin.com/in/marcio-luiz-barbato-junior-20832446/">Linkedin</a>
      <p></p>
      <a href="https://github.com/marciobarbato/my-profile"> Github</a>
    </accordion-group>
  </accordion>

</div>

